<div class="home section" id="home">
    <div class="home__container container grid">
        <div class="home__data">
            <h1 class="home__title">
                Información 
            </h1>
            <p class="home__description">
                
            </p>
            <form action="" method="POST" class=""> 

                    <input type="text" name="Nombre_Habitacion" placeholder="Nombre de la Habitación"  required>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="lang">Estado</label>
                    <select name="estadoHabi" id="estadoHabi">
                            <option value="Ocupada">Ocupada</option>
                            <option value="Libre">Libre</option>
                         </select>

                    <input type="text" name="Descripcion" placeholder="Descripcion">

                    <input type="number" name="Precio" placeholder="Precio"  required>

                    <input type="text" name="Ciudad" placeholder="Ciudad"  required>

                    <input type="text" name="Departamento" placeholder="Departamento"  required>

                    <input type="text" name="Direccion" placeholder="Direccion" required> 
                    <br><br>
                    <input type="file" name="Imagen" placeholder="Fotos" >
                 <br><br><br>
              <button type="submit" class="button">
                    Agregar
                </button>

                
                
            </form>
            <br><br>
        </div>
    </div>