    
<section class="section" id="popular">        
    <div class="container">
        <h1> R E S E R V A S</h1>
        habitaciones de calidad
        <hr> <br>

        <h4>Usuario Activo: {{Usuario}}</h4>
        <h4>Email: {{users_Email}}</h4>

            <div class="swiper-wrapper">
                <article class="popular__card swiper-slide">                          
                    <div class="popular__data">                               
                        <h3>{{Habitacion.Nombre_Habitacion}}</h3> 
                        <h4>{{Habitacion.Descripcion}}</h4> 
                        <h6>Estado: {{Habitacion.EstadoHabi}}  </h6>
                             <img src="{{Habitacion.Imagen}}" title="{{Habitacion.Nombre_Habitacion}}" class="popular__img" style="cursor: pointer;"> 
                            <h2 class="popular__price">
                                {{Habitacion.Precio | currency}}
                            </h2>
                            <h3 class="popular__title">
                                   {{Habitacion.Ciudad}}, {{Habitacion.Departamento}}
                            </h3>
                                <p class="popular__description">
                                    Direccion: {{Habitacion.Direccion}}
                                </p>


                    <form [formGroup]="ReservaForm" (ngSubmit)="ejecutar()">
                    <br>
                    <h4>Formulario de reservas</h4>
                    <br>
                     <label for="date" > Fecha de ingreso: </label>
                    <input type="date" value="date" name="date" formControlName="FechaInicio"> <br>
                    <br>
                    <label for="date"> Fecha de salida: </label>
                   <input type="date" value=time name="time" formControlName="FechaFin"> <br> <br>
                   <label for="time"> Hora de Facturacion:  </label>
                   <input type="time" value=time name="time" formControlName="Hora"> <br> <br>
                   <label for="Dias">Dias a hospedar: </label>
                   <input type="number" name="Precio" id="" placeholder="dias a hospedar" #Dias (keyup)="Precio(+Dias.value)"> <br>
                   <br>
                   <h5>Total a Cancelar: {{Prec | currency}}</h5>
                   <br>
                    <button type="submit" class="button">
                    Reservar</button>
                    </form>
                    <br>
                    <a  class="button"  (click)="Cancelar()">
                        Cancelar 
                    </a>             
                    </div>                           
                </article>                     
            </div>                                
     </div>                     
</section>
          
<!--==================== SUBSCRIBE ====================-->
        <section class="subscribe section">
            <div class="subscribe__container container">
                <h1 class="subscribe__title">
                    Oferta tu habitación
                </h1>
                <p class="subscribe__description">
                    Ofrece tu pension en nuestro sitio
                </p>
                <a href="/create" class="button subscribe__button">
                    Empezar
                </a>
            </div>
        </section>
  